# Frontend
frontend/node_modules/
frontend/dist/

# Python
Backend/__pycache__/
Backend/**/*.pyc

# Virtual environment
Backend/venv/
Backend/.venv/

# Environment variables
.env

# Uploaded images
Backend/uploads/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
